<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :due_date %>
  <%= form.date_field :due_date, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :completed %>
  <%= form.check_box :completed %>
</div>

